* {
  padding: 0;

  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", sans-serif;
  box-sizing: border-box;
  color: #020202;
}

.background {
  background-color: rgb(74, 224, 14);
  height: 100%;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: #b92222;
}

.form-control {
  color: blue;
  font-family: Verdana, Geneva, Tahoma;
}

input {
  display: block;
  margin: 15px;
  padding: 10px;
}

.box {
  background-color: #2a7bf3;
  color: #21cce2;
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;

  background-color: #2a7bf3;
  border-radius: 10px;
  color: #21cce2;
  width: 320px;
  padding: 10px;
  border: 0px solid gray;
  margin: 0px;
}

.btn{
  width: 50%;
  height: 30px;
  margin: 15px;
}